.footer {
  padding: 80px;
  background-color: #1649ff;
  text-align: center;
}

.footer > p {
  color: #ffffff;
}

@media screen and (max-width: 600px) {
    
    .footer {
        padding: 30px;
    }
    
      .footer > p {
        margin-bottom: 5px;
    }  
}